# Build & temporary artifacts
build/
CMakeFiles/
CMakeCache.txt
*.log
*.swp
*.pyc
__pycache__/
lost+found/
.DS_Store

.venv/
venv/

# Keep external local work directories untracked (Repo dedicated exclusively to uav_streaming)
/TOF/
/config/
/image/
/kneopi-examples/
/logs/
/morse/
/scripts/
/utils/
