[Unit]
Description=KNEO Pi examples
After=local-display.service
Requires=local-display.service

[Service]
Type=forking
Environment="DISPLAY=:0"
ExecStartPre=/bin/sleep 5
WorkingDirectory=/work/kneopi-examples/bin
ExecStart=/bin/bash /work/kneopi-examples/bin/start.sh
#ExecStop=
#StandardOutput=journal
#StandardError=journal
#TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
#graphical.target
